.slide-section {
  position: absolute;
  top: 0px;
  left: 0px;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  width: 100%;
  height: 100%;
  transition: all 5s ease;
  background-position: center;
  animation: sectionAnimation 7s linear infinite 0s;
}

.trans {
  font-size: 22px;
}

@keyframes sectionAnimation {
  from {
    opacity: 0.8;
    transform: scale(1);
  }
  to {
    opacity: 1;
    transform: scale(1.1);
  }
}
