.gallery-category {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 60px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 0.15em 0 rgba(0, 0, 0, 0.1);
}

.gallery-photos {
  position: relative;
  top: 25px;
}

.gallery-block {
  width: 100%;
  position: absolute;
}
