.prices {
  display: flex;
  margin-top: 5%;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-around;
  flex-wrap: wrap;
}

.prices__category {
  width: 220px;
  max-height: 400px;
}
.prices__category p {
  text-align: center;
}
.prices__category img {
  transition: 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.prices__category img:hover {
  transition: 0.5s;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
}
