.delete-photo {
  cursor: pointer;
}

.change {
  display: flex;
  position: relative;
  justify-content: space-around;
}

.change a {
  width: 40%;
  text-align: center;
}

.selected-type {
  background-color: #39454b;
  color: #fefcff;
}

.admin-category-photos {
  margin-left: 20px;
}
